@import "compass";
@import url(https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
// @import "compass/utilities/sprites";
// @import "my-icons/*.svg";
// @include all-my-icons-sprites;


// @import "my-icons/*.svg";

// .actions {
//   .new    { @include my-icons-sprite(new);    }
//   .edit   { @include my-icons-sprite(edit);   }
//   .save   { @include my-icons-sprite(save);   }
//   .delete { @include my-icons-sprite(delete); }
// }



$green: #002f2f;
$tan: #A7A37E;
$yellow: #EFECCA;
$orange: #FF6D38;
$blue: #046380;
@mixin button( $color ){
	padding: 4%;
	text-align:center;	
	text-decoration:none;
	border: 2px solid $orange;
	@include transition (background 0.3s);
		a{
			color:$orange;
		}

	&:hover{
		background: darken( $color, 40%);
	}
}
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
// scrollTop element to slow transition
// ? embed svg's in html and give hover

	.clearfix {
	    zoom: 1;
	    &:before, &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

	.wrapper{
		width: 90%;
		margin: 0 auto;
	}

	// Active state for schedule days

	
	



	/***** SITE STYLES *************/
	body{
		font-family: 'Asap', sans-serif;
	}
	img{
		max-width:100%;
		display:block;
		margin:0 auto;
	}
	ul{
	}
	a{
		text-decoration:none;
	}
	.yellow{
		color:$yellow;
	}

	.button{
		@include button( $orange );
	}
	/**********************************/
	/***** generic styles beginning with mobile header ****/
	header{
		
		display:block;
		background:#002F2F;
		padding:4%;
		margin:0 auto;
		

		.button{
			// margin-bottom:20px;
		}
		
		.header_left{
			float:left;
			width:40%;
		
			.register_button{
				display:block;
				font-size:.8em;
					
			}

			
		}
		

		// .grok_header_logo{
		// 	display:inline-block;
		// 	width:25%;
		// 	padding:20px 6.1%;
		// 	vertical-align:top;
		// }
		.header_right{
			float:right;
			width:40%;
			text-align:right;
			vertical-align:top;
			font-size:.8em;
				
				p{
					vertical-align:bottom;
					color:$yellow;
					margin:0;
				}
		}
		.grok_dates{
			display:block;
			text-align:center;
			color:$yellow;
				p{
					margin-bottom:5px;
				}
		}		
	}

	.featured_content{
		// background: url(../img/caveman.jpg);
		// background-size:100%;
		
		margin:0 auto;
		background:$blue;
		background-size: 100px 100px;
		background-repeat: no-repeat;
		color:$yellow;
		text-align:center;
		text-shadow: 2px 2px #011111;
		padding:40px 0;
			h1{
				margin-top:0;
				font-family: 'Bree Serif', serif;
				font-size:3em;
			}
			p{
				margin-bottom:40px;
			}
			a{
				color:$orange;
				border:solid 3px $orange;
				padding:10px 10%;
				font-weight:bolder;
			}
	}
	.descriptions{
		background:$yellow;
		color:$green;
		padding: 40px 0;

	}
	.keynote_speakers{
		background:$green;
		color:$yellow;
		padding:40px 0;
			img{
				padding-bottom:40px;
			}
			.carl{
				margin-bottom:40px;
				img{
					float:right;
					margin:0 0 10px 15px;
				}
			}
			.aaron{
				img{
					float:right;
					margin:0 0 10px 15px;
				}
			}
			.links{
				img{
					padding-bottom:0;
					
				}

				ul{
					display:block;
					padding:0;
					li{
						display:inline-block;
						width:15%;
						
						a{
							// padding:4%;
							
						}
					}
				}
			}
	}
	

	






	.brown_background{
		background:$tan;
		padding:40px 0;
			.entertainment{

				img{
					width:40%;
					float:right;
					margin:0 0 15px 20px;
				}
			}
			.bluebox{
				background:$blue;
				color:$yellow;
				list-style:none;
				padding:4%;
					ul{
						display:block;
						list-style:none;
						padding:0;
							
					}
					
			}
	}
	.links{
		display:block;
			li{
				display:inline-block;
				width:10%;
				vertical-align: middle;
				margin-right:4%;
			}
			a{
				color:$yellow;
				font-weight:bolder;
				text-decoration:underline;
					img{
						max-height:30px;
					}

					&:hover{
						color:$orange;
					}
			}
	}
	.register_now{
		background:$green;
		color:$yellow;
		padding:40px 0;
	}

	.brown_background{
		h1{
			color:$green;
		}
		ul{
			list-style:none;
			padding:0;
		}
		.days{
			// position:relative;

			background:#eee;
			padding:4%;
			margin-bottom:20px;
			box-shadow: -10px 10px 5px #9b9672;
				// .d1{
				// 	float:left;
				// 	width:30%;
				// }
				// img{
				// 	float:right;
				// 	width:30%;
				// }
				li{
					margin-bottom:10px;
					padding:2%;
				}
				h3{
					margin-top:0;
				}
				h4{
					font-size:.8em;
				}
				h5{
					margin:0;
				}
				p{
					margin-top:0;
					margin-bottom:3px;
				}
				// .d1{
				// 	img{
				// 		position:relative;
				// 		left:15%;
				// 		top:0;
				// 	}
				// }
		}
	}
	.grey{
		background-color:#b9b9bd;
		padding:5px 0;
	}
	.schedule_buttons{
			display:block;
			margin-bottom:30px;
			a{
				display:block;
				float: left;
				width:32.6665%;
				text-align:center;
				background:$green;
				color:$yellow;
				padding:20px 0;
				margin-right: 1%;

				&:last-child{
					margin-right: 0;
				}
				&:hover{
					background:#244f4f;
					box-shadow: -5px 10px 5px #9b9672;
				}
			}
	}
	footer{
		background:$green;
		color:$yellow;
		padding:40px 0;

		ul{
				
				vertical-align:top;
				list-style:none;
				padding:0;
				margin:30px auto;
			
				li{
					float:left;
					width:24%;
					
					vertical-align:top;
					
				}

				a{
					
					color:#EFECCA;
				}

				img{
					width: 100%;
				}
				.copyright{
					font-size:.3em;

				}
		
		}		
	}


	.twitter_link{
		width: 50px;
		height: 50px;
		background-image: url(../img/twitter_sprite.svg);
		background-size: 52px auto;
		background-position: center top;
		display: block;
		padding: 0;
		margin: 0;
		// transition: 0.5s background-position linear;

		&:hover{
			background-position: center -50px;
		}
	}

	.facebook_link{
		width: 50px;
		height: 50px;
		background-image: url(../img/facebooksprite.svg);
		background-size: 50px auto;
		background-position: center top;
		display: block;
		padding: 0;
		margin: 0;
		// transition: 0.5s background-position linear;

		&:hover{
			background-position: center -50px;
		}
	}

	.email_link{
		width: 50px;
		height: 37px;
		background-image: url(../img/emailsprite.svg);
		background-size: 50px auto;
		background-position: center top;
		display: block;
		padding: 0;
		margin: 0;
		// transition: 0.5s background-position linear;

		&:hover{
			background-position: center -37px;
		}
	}
	.compass_link{
		margin-right:0;
		width: 30px;
		height: 30px;
		background-image: url(../img/compasssprite.svg);
		background-size: 30px auto;
		background-position: center top;
		display: block;
		padding: 0;
		margin: 0;
		// transition: 0.5s background-position linear;

		&:hover{
			background-position: center -30px;
		}

	}



	



@media screen and (min-width: 700px) {

	.grok_header_logo{
			img{
				max-width:150px;
			}
	}

	.featured_content{
		
		background: url(../img/caveman3.jpg), $green;
		background-attachment: fixed;
    	background-size: cover;
    	background-position:center;
    	background-repeat: no-repeat;
    	padding-top:260px;
    	padding-bottom:70px;
    	color:$yellow;
    		p{
    			padding-bottom:30px;
    		}
    	
		
	}
	
	.whatare1020s{
		float:left;
		width:48%;
		margin-right:4%
	}
	.session_leaders{
		float:right;
		width:48%;	
	}

	.keynote_speakers{
		h3{
			margin-top:0;
		}
	}

	.carl{
		float:left;
		width:48%;
		margin-right:4%;
			
	}
	.aaron{
		float:right;
		width:48%;
	}



	.entertainment{
		float:left;
		width:40%;
		line-height:1.4;

	}

	.details{
		float:right;
		width:40%;
		padding-bottom:90px;

			h3{
				margin-bottom:0;
			}
	}

	.address{
		margin-bottom:15px;
			.streetaddress{
				float:left;
				width: 50%;
			}
			.links{
				float:left;
				// margin-left:3%;
				width:38%;
			}

	}

	.links{
		display:block;
			li{
				display:inline-block;
				width:36%;
				vertical-align: middle;
				// margin-right:4%;
			}
	}

	.bluebox{
			h2{
				margin-top:0;
			}
	}
	.register_now{
			.button{
				width:25%;
				margin:0 auto;
			}
	}

	/*.days{
		width:35%;
			li{
				margin:15px,auto;
			}
	}*/
	

}
	
	


@media screen and (min-width: 900px) {

}






