@import url(https://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 25, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 27, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 31, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 36, ../scss/style.scss */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/***** SITE STYLES *************/
/* line 43, ../scss/style.scss */
body {
  font-family: 'Asap', sans-serif;
}

/* line 46, ../scss/style.scss */
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 53, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 56, ../scss/style.scss */
.yellow {
  color: #EFECCA;
}

/* line 60, ../scss/style.scss */
.button {
  padding: 4%;
  text-align: center;
  text-decoration: none;
  border: 2px solid #FF6D38;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 14, ../scss/style.scss */
.button a {
  color: #FF6D38;
}
/* line 18, ../scss/style.scss */
.button:hover {
  background: #6b1c00;
}

/**********************************/
/***** generic styles beginning with mobile header ****/
/* line 65, ../scss/style.scss */
header {
  display: block;
  background: #002F2F;
  padding: 4%;
  margin: 0 auto;
}
/* line 72, ../scss/style.scss */
header .button {
  margin-bottom: 20px;
}
/* line 76, ../scss/style.scss */
header .header_left {
  display: inline-block;
  width: 31%;
}
/* line 80, ../scss/style.scss */
header .header_left .register_button {
  display: block;
  font-size: .8em;
}
/* line 90, ../scss/style.scss */
header .grok_header_logo {
  display: inline-block;
  width: 25%;
  padding: 20px 6.1%;
  vertical-align: top;
}
/* line 96, ../scss/style.scss */
header .header_right {
  display: inline-block;
  width: 26%;
  text-align: right;
  vertical-align: top;
  font-size: .8em;
}
/* line 103, ../scss/style.scss */
header .header_right p {
  vertical-align: bottom;
  color: #EFECCA;
  margin: 0;
}
/* line 109, ../scss/style.scss */
header .grok_dates {
  display: block;
  text-align: center;
  color: #EFECCA;
}
/* line 113, ../scss/style.scss */
header .grok_dates p {
  margin-bottom: 5px;
}

/* line 119, ../scss/style.scss */
.featured_content {
  margin: 0 auto;
  background: #046380;
  color: #EFECCA;
  text-align: center;
  padding: 40px 0;
}
/* line 127, ../scss/style.scss */
.featured_content h1 {
  margin-top: 0;
}
/* line 130, ../scss/style.scss */
.featured_content p {
  margin-bottom: 40px;
}
/* line 133, ../scss/style.scss */
.featured_content a {
  color: #FF6D38;
  border: solid 2px #FF6D38;
  padding: 4%;
}

/* line 139, ../scss/style.scss */
.descriptions {
  background: #EFECCA;
  color: #002f2f;
  padding: 40px 0;
}

/* line 145, ../scss/style.scss */
.keynote_speakers {
  background: #002f2f;
  color: #EFECCA;
  padding: 40px 0;
}
/* line 149, ../scss/style.scss */
.keynote_speakers img {
  padding-bottom: 40px;
}
/* line 152, ../scss/style.scss */
.keynote_speakers .carl {
  margin-bottom: 40px;
}
/* line 154, ../scss/style.scss */
.keynote_speakers .carl img {
  float: right;
  margin: 0 0 10px 15px;
}
/* line 160, ../scss/style.scss */
.keynote_speakers .aaron img {
  float: right;
  margin: 0 0 10px 15px;
}
/* line 166, ../scss/style.scss */
.keynote_speakers .links img {
  padding-bottom: 0;
}
/* line 169, ../scss/style.scss */
.keynote_speakers .links ul {
  display: block;
  padding: 0;
}
/* line 172, ../scss/style.scss */
.keynote_speakers .links ul li {
  display: inline-block;
  width: 15%;
}
/* line 176, ../scss/style.scss */
.keynote_speakers .links ul li a {
  padding: 4%;
}

/* line 184, ../scss/style.scss */
.brown_background {
  background: #A7A37E;
  padding: 40px 0;
}
/* line 189, ../scss/style.scss */
.brown_background .entertainment img {
  width: 40%;
  float: right;
  margin: 0 0 15px 20px;
}
/* line 195, ../scss/style.scss */
.brown_background .bluebox {
  background: #046380;
  color: #EFECCA;
  list-style: none;
  padding: 4%;
}
/* line 200, ../scss/style.scss */
.brown_background .bluebox ul {
  display: block;
  list-style: none;
  padding: 0;
}

/* line 209, ../scss/style.scss */
.links {
  display: block;
}
/* line 211, ../scss/style.scss */
.links li {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  margin-right: 4%;
}
/* line 217, ../scss/style.scss */
.links a {
  color: #EFECCA;
  font-weight: bolder;
  text-decoration: underline;
}
/* line 222, ../scss/style.scss */
.links a:hover {
  color: #FF6D38;
}

/* line 227, ../scss/style.scss */
.register_now {
  background: #002f2f;
  color: #EFECCA;
  padding: 40px 0;
}

/* line 234, ../scss/style.scss */
.brown_background ul {
  list-style: none;
  padding: 0;
}
/* line 238, ../scss/style.scss */
.brown_background .days {
  background: #eee;
  padding: 4%;
  margin-bottom: 20px;
  box-shadow: -10px 10px 5px #9b9672;
}
/* line 243, ../scss/style.scss */
.brown_background .days h3 {
  margin-top: 0;
}
/* line 246, ../scss/style.scss */
.brown_background .days h4 {
  font-size: .8em;
}
/* line 249, ../scss/style.scss */
.brown_background .days h5 {
  margin: 0;
}
/* line 252, ../scss/style.scss */
.brown_background .days p {
  margin-top: 0;
  margin-bottom: .5em;
}

/* line 258, ../scss/style.scss */
.schedule_buttons {
  display: block;
  margin-bottom: 30px;
}
/* line 261, ../scss/style.scss */
.schedule_buttons a {
  display: block;
  float: left;
  width: 32.6665%;
  text-align: center;
  background: #002f2f;
  color: #EFECCA;
  padding: 20px 0;
  margin-right: 1%;
}
/* line 271, ../scss/style.scss */
.schedule_buttons a:last-child {
  margin-right: 0;
}
/* line 274, ../scss/style.scss */
.schedule_buttons a:hover {
  background: #244f4f;
}

/* line 279, ../scss/style.scss */
footer {
  background: #002f2f;
  color: #EFECCA;
  padding: 40px 0;
}
/* line 284, ../scss/style.scss */
footer ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0;
  margin-top: 0;
}
/* line 291, ../scss/style.scss */
footer ul li {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}
/* line 297, ../scss/style.scss */
footer ul a {
  color: #EFECCA;
}
/* line 302, ../scss/style.scss */
footer ul img {
  width: 100%;
}
@media screen and (min-width: 650px) {
  /* line 312, ../scss/style.scss */
  footer .featured_content {
    background: url(../img/caveman.jpg);
  }
}
